* {
  margin: 0 auto;
}

.conteiner {
  display: grid;
  justify-content: center;
  gap: 50px 100px;
  grid-template-areas:
          'h h'
          'i w';
}

.header {
  grid-area: h;
}

.info {
  grid-area: i;
}

.weather {
  grid-area: w;
}